.title {
  text-align: center;
  padding-bottom: 1em;
  display: flex;
  justify-content: center;
  align-content: center;
}

.title h2 {
  display: inline;
  margin-right: 0.5em;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding-top: 3em;
  font-family: "Courier Prime Bold";
}

.nav {
  padding: 0.25em 0.75em;
  margin: 0.25em 0.75em;
  border-bottom: 2px solid black;
  color: blue;
}

.navLeft {
  float: left;
}

.navRight {
  text-align: right;
}

.hr {
  display: block;
  background-color: black;
  height: 0.1em;
  margin: 1em 0.5em;
}

.emptyMessage {
  padding: 1em 0;
  text-align: center;
}

.flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.section {
  width: 25em;
}

.section h5 {
  text-align: center;
  padding: 1em 0;
}

.lastPointsRow {
  border: 2px grey solid;
  border-radius: 0.5em;
  margin: 0.5em 1em;
  padding: 0.5em 1em;
  display: grid;
  grid-template-columns: auto 10em;
}
