.title {
  text-align: center;
  padding-bottom: 1em;
}

.container {
  max-width: 30em;
  margin: 5em auto;
  font-family: "Courier Prime Bold";
}

.row {
  display: grid;
  grid-template-columns: 2.5em auto 8em;
  border: 2px grey solid;
  border-radius: 0.5em;
  margin: 0.5em 1em;
  padding: 0.5em 1em;
}

.rank {
  padding-right: 0.5em;
}

.right {
  text-align: right;
}

.age {
  font-size: 0.8em;
}

.ownRow {
  border: 2px dashed black;
}

.first {
  background-color: #d6af36;
}

.second {
  background-color: #a7a7ad;
}

.third {
  background-color: #a77044;
}

.footerContainer {
  margin: 0 auto;
  padding-bottom: 1.5em;
  text-align: center;
  flex-shrink: 0;
  width: 100%;
}

.windowContainer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.windowContainer div {
  flex-shrink: 0;
  flex-grow: 0;
}

.divButton {
  border: 2px gray solid;
  border-radius: 0.5em;
  padding: 0.5em;
  text-align: center;
}

.divButton:hover {
  background-color: gray;
  color: black;
  cursor: pointer;
}
