.container {
  margin: 0 0.5em;
}

.runRow {
  background-color: grey;
  margin: 0.5em 0;
  padding: 0.5em;
  display: grid;
  grid-template-columns: 30% auto 5% 15% 25%;
  border: 2px solid black;
  border-radius: 1em;
}

.userID {
  text-align: left;
}

.challengeName {
  text-align: right;
}

.score {
  text-align: right;
}

.even {
  background-color: #ccd1d1;
}

.odd {
  background-color: #b2babb;
}

.redBackground {
  background-color: #f1948a;
}

.yellowBackground {
  background-color: #f7dc6f;
}

.purpleText {
  color: white;
  background-color: #884ea0;
  padding: 0.1em;
}

.greenText {
  color: white;
  background-color: #1e8449;
  padding: 0.1em;
}

.bold {
  font-family: "Courier Prime Bold";
}
