.container {
  margin: 0 0.5em;
}

.title {
  font-family: "Courier Prime Bold";
  font-size: 1.75em;
}

.runRow {
  margin: 0.5em 0;
  padding: 0.5em;
  display: grid;
  grid-template-columns: 30% auto 5% 15% 25%;
  border: 2px solid black;
  border-radius: 1em;
}

.titleBar {
  display: flex;
  justify-content: space-between;
}

.autoRefresh {
  display: inline-block;
  padding: 0.5rem 1rem;
  height: 100%;
}

.refreshButton {
  display: inline-block;
  height: 100%;
  margin-left: 0.5em;
}

.refreshButton svg {
  width: 1em;
}

.enabled {
  animation: blinker 2s ease-in-out 0;
  animation-iteration-count: infinite;
}

@keyframes blinker {
  50% {
    background-color: #e74c3c;
  }
}

.updateTimestamp {
  margin-left: 0.5em;
  color: darkgray;
  font-style: italic;
}

.typeSelect {
  margin-right: 0.5em;
}
