.loginListItem {
  display: grid;
  grid-template-columns: 14rem auto 3rem 6rem;
}

.challengeListItem {
  display: grid;
  grid-template-columns: 7em 5em 2em 6em auto 7em;
}

.alignRight {
  text-align: right;
}

.alignCenter {
  text-align: center;
}

.username {
  font-family: "Courier Prime";
}

.playerCount {
  display: flex;
  align-items: flex-end;
  font-size: 0.7em;
}
