.loginListItem {
  display: grid;
  grid-template-columns: auto auto 23em;
}

.alignRight {
  text-align: right;
}

.divSection {
  background-color: #b2babb;
  margin: 1em;
  padding: 1em;
  border-radius: 0.25em;
}

.divSection h5 {
  border-bottom: 2px black solid;
}

.username {
  font-family: "Courier Prime Bold";
}
