.flashing {
  animation: blinker 0.9s ease-in-out 1;
}

@keyframes blinker {
  50% {
    background-color: #e74c3c;
  }
}

.disabled svg {
  fill: grey;
}

.playButton svg {
  width: 1.3em;
}

.justifyLeft {
  justify-self: flex-start;
}

.button {
  height: 100%;
  display: inline-block;
  border-color: black;
  background-color: rgb(239, 239, 239);
}

.button:hover {
  background-color: rgb(239, 239, 239);
}

.buttonDisabled {
  height: 100%;
  display: inline-block;
  border-color: grey;
  color: grey;
}

.buttonDisabled:hover {
  cursor: default;
  color: grey;
  background-color: unset;
}
