.container {
  width: 60em;
  max-width: 75%;
  margin: 2em auto;
}

.header {
  margin-top: 0.5em;
  border-bottom: 2px solid black;
}

.activePage {
  margin: 1em;
}

.nav :not(:first-child) {
  margin-left: 0.75em;
  padding-left: 0.75em;
  border-left: 2px solid black;
}
