.intEdit {
  display: grid;
  grid-template-columns: 4rem auto 4rem;
  column-gap: 1rem;
  align-items: center;
}

.divButton {
  padding: 0.5em;
  margin: 0 auto;
}

.divButton span {
  margin: 0 0.5rem;
}

.divButton:hover {
  cursor: pointer;
  background-color: grey;
}

.objectTable td {
  border: solid 2px black;
  padding: 0.5rem;
}

th {
  text-align: center;
}
