.header {
  display: grid;
  grid-template-columns: 30% auto 20%;
  align-items: center;
  grid-gap: 1em;
}

.badge {
  border-radius: 2em;
  text-align: center;
  padding: 0.5em;
  color: white;
  font-family: "Courier Prime Bold";
}

.active {
  background-color: darkgreen;
}

.inactive {
  background-color: red;
}

.toggleButton {
  float: right;
  background-color: darkgray;
  padding: 0.5em;
  border-radius: 0.5em;
}

.toggleButton:hover {
  cursor: pointer;
  background-color: grey;
}

/* Order Section */

.orderSection {
  display: grid;
  grid-template-columns: 75% auto;
}

.orderEditButton {
  margin-right: 0.25em;
  padding: 0.5em;
  display: inline-block;
  background-color: #7f8c8d;
  border-radius: 0.5em;
  cursor: pointer;
}

.orderEdit {
  display: grid;
  grid-template-columns: 10% auto;
  align-items: center;
}
