.button {
  border-radius: 5px;
  padding: 0.25em 0.5em;
}

.container {
  display: inline;
}

.menu {
  position: absolute;
  right: 2vw;
  border-radius: 0.5em;
  border: 0.25em solid grey;
  padding: 0.5em;
  margin: 0.5em;
  background: white;
  text-align: left;
}

.menuRow a {
  display: block;
  text-decoration: none;
  color: black;
  padding-left: 0.2em;
}

.menuRow {
  border-radius: 0.5em;
  margin: 0.15em;
  padding-left: 0.25em;
}

.menuRow:hover {
  background: lightgray;
}

.menuHeader {
  padding: 0 0.25em;
  color: grey;
  border-bottom: 1px grey solid;
}

.menuNameInputRow {
  margin: 0.5em 0.2em;
}
.menu-name-input-row input {
  max-width: 10vw;
  padding-left: 0.3em;
}
