.container {
  max-width: 30em;
  margin: 5em auto;
  font-family: "Courier Prime Bold";
}

.hr {
  display: block;
  background-color: black;
  height: 0.1em;
  margin: 1em 0.5em;
}

.title {
  text-align: center;
  padding-bottom: 1em;
}

.row {
  border: 2px grey solid;
  border-radius: 0.5em;
  margin: 0.5em 1em;
  padding: 0.5em 1em;
}

.rank {
  padding-right: 0.5em;
}

.right {
  float: right;
}

.nav {
  padding: 0.25em 0.75em;
  margin: 0.25em 0.75em;
  border-bottom: 2px solid black;
  color: blue;
}

.age {
  font-size: 0.8em;
}

.navLeft {
  float: left;
}

.navRight {
  text-align: right;
}

.first {
  background-color: #d6af36;
}

.second {
  background-color: #a7a7ad;
}

.third {
  background-color: #a77044;
}

.ownRow {
  border-bottom: 0.2em dashed;
  border-top: 0.2em dashed;
  border-color: black;
}

.playerCount {
  margin: 0.5em 1em;
  padding: 0 1em;
}
