.container {
  width: 30em;
  margin: 0 auto;
  padding-top: 3em;
  font-family: "Courier Prime Bold";
  max-width: 95vw;
}

.hr {
  display: block;
  background-color: black;
  height: 0.1em;
  margin: 1em 0.5em;
}

.title {
  text-align: center;
  padding-bottom: 1em;
}

.nav {
  padding: 0.25em 0.75em;
  margin: 0.25em 0.75em;
  border-bottom: 2px solid black;
  color: blue;
}

.navLeft {
  float: left;
}

.navRight {
  text-align: right;
}

.playerCount {
  margin: 0.5em 1em;
  padding: 0 1em;
}

.dailyPicker {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.dailyPicker select {
  margin-left: 0.5rem;
  padding: 0.25em 0.5em;
}

.solutionImageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em 0;
  margin: 1em 0;
}

.solutionImage {
  max-width: 90vw;
}

.solutionImage img {
  width: 100%;
}

.pageNav {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
}

.pageNav :first-child {
  margin-left: 1.5em;
}

.link {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.pageNav :last-child {
  margin-right: 1.5em;
}
