@media (max-height: 700px) {
  .container {
    grid-template-rows: 9vh 5vh auto 6vh;
  }
}

@media (min-height: 700px) {
  .container {
    grid-template-rows: 5vh 2.5vh auto 3vh;
  }
}

.container {
  min-width: 300px;
  padding: 5px;
  display: grid;
  height: inherit;
}

.loading {
  width: 100%;
  font-size: 2.5vh;
}

.runsList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.runsList::-webkit-scrollbar {
  width: 10px;
  padding-right: 5px;
}

.runsList::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: lightgray;
  border: 2px black solid;
}

.title {
  font-family: "Courier Prime Bold";
  margin-bottom: 0px;
  height: 100%;
  font-size: 30px;
  max-width: 100%;
}

.link {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.runEntryRow {
  border-radius: 5px;
  border: 2px black solid;
  width: 95%;
  height: 58px;
  background-color: lightgray;
  padding: 2px;
  display: grid;
  grid-template-columns: 2rem auto;
  align-items: center;
}

.runDetails {
  display: grid;
  grid-template-areas:
    "date score"
    "time tags";
}

.runEntryRowEmpty {
  width: 95%;
  height: 58px;
}

.runEntryRowDisabled {
  border-radius: 5px;
  width: 95%;
  display: grid;
  margin: 2.5px 5px;
  padding: 2px;
  grid-template-areas:
    "date score"
    "time tags";
  border: 2px gray solid;
  background-color: transparent;
  color: gray;
}

.loadMore:hover {
  cursor: pointer;
}

.runEntryRow:hover {
  cursor: pointer;
}

.date {
  grid-area: date;
}

.time {
  grid-area: time;
}

.score {
  grid-area: score;
}

.tags {
  grid-area: tags;
  display: flex;
  justify-content: center;
}

.prText {
  color: white;
  background-color: #1e8449;
  padding: 0.1em;
  margin: 0px 2px;
}

.wrText {
  color: white;
  background-color: #884ea0;
  padding: 0.1em;
  margin: 0px 2px;
}

.pagingBar {
  margin: 2px 5px;
  font-family: "Courier Prime Bold";
  display: flex;
  justify-content: space-between;
}
