.container {
  min-width: 300px;
  width: 20%;
  margin-right: 10px;
  max-height: 100%;
  height: inherit;
  justify-items: center;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
}

.runsList {
  display: block;
  width: 100%;
  /* max-height: min-content; */
  height: 100%;
  /* height: 100%; */
  /* overflow-y: scroll; */
}

.title {
  font-family: "Courier Prime Bold";
  margin: 5px;
  height: max-content;
}


.runEntryRow {
  width: 90%;
  height: 50;
  display: grid;
  background-color: white;
  margin: 2.5px 5px;
  grid-template-areas: 
  "date score"
  "time tags";
}

.date{
  grid-area: date;
}

.time{
  grid-area: time;
}
.score{
  grid-area: score;
}
.tags{
  grid-area: tags;
}