.container {
  min-width: 300px;
  width: 20%;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px;
  height: 100%;
  overflow: hidden;
  justify-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.loading {
  width: 100%;
  height: calc(100vh - 150px);
}

.runsList {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: calc(100vh - 200px);
  overflow-y: auto;
  align-items: center;
}

.runsList::-webkit-scrollbar {
  width: 10px;
  padding-right: 5px;
}

.runsList::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: lightgray;
  border: 2px black solid;
}

.title {
  font-family: "Courier Prime Bold";
  margin: 5px;
  height: max-content;
  max-height: 40px;
}

.bottombar {
  height: 10px;
}

.loadMore {
  width: fit-content;
  background-color: lightgray;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 2px 15px;
  border-radius: 5px;
  border: 2px black solid;
}

.pageNumber {
  width: fit-content;
  background-color: lightgray;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 2px 15px;
  border-radius: 5px;
  border: 2px black solid;
  cursor: default;
}

.runEntryRow {
  border-radius: 5px;
  border: 2px black solid;
  width: 95%;
  display: grid;
  background-color: lightgray;
  margin: 2.5px 5px;
  padding: 2px;
  grid-template-areas:
    "date score"
    "time tags";
}

.runEntryRowDisabled {
  border-radius: 5px;
  width: 95%;
  display: grid;
  margin: 2.5px 5px;
  padding: 2px;
  grid-template-areas:
    "date score"
    "time tags";
  border: 2px gray solid;
  background-color: transparent;
  color: gray;
}

.loadMore:hover {
  cursor: pointer;
}

.runEntryRow:hover {
  cursor: pointer;
}

.date {
  grid-area: date;
}

.time {
  grid-area: time;
}

.score {
  grid-area: score;
}

.tags {
  grid-area: tags;
  display: flex;
  justify-content: center;
  line-height: 100%;
}

.prText {
  color: white;
  background-color: #1e8449;
  padding: 0.1em;
  margin: 2px;
}
.wrText {
  color: white;
  background-color: #884ea0;
  padding: 0.1em;
  margin: 2px;
}

.pagingBar {
  display: flex;
}