.container {
  min-width: 300px;
  width: 20%;
  margin-right: 10px;
  padding:5px;
  height: inherit;
  overflow: hidden;
  justify-items: center;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.runsList {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: calc(100vh - 145px); /* top of list ~127 pxs down*/
  overflow-y: auto;
  align-content: center;
}

.runsList::-webkit-scrollbar {
  width: 10px; 
  background-color: lightgray;
  padding-right: 5px;
  direction: rtl;
}

.runsList::-webkit-scrollbar-thumb {
  /* width: 25px; */
  /* background-color: aqua; */
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.473);
  max-height: 10px !important;
}
.runsList::-webkit-scrollbar-track {
  /* width: 25px; */
  /* background-color: aqua; */
  border-radius: 30px;
  /* background: yellow; */
  /* height: 10px; */
}

.title {
  font-family: "Courier Prime Bold";
  margin: 5px;
  height: max-content;
  max-height: 40px;
}

.bottombar {
  height: 10px;
}


.runEntryRow {
  width: 95%;
  height: 50;
  display: grid;
  background-color: white;
  margin: 2.5px 5px;
  grid-template-areas: 
  "date score"
  "time tags";
}

.date{
  grid-area: date;
}

.time{
  grid-area: time;
}
.score{
  grid-area: score;
}
.tags{
  grid-area: tags;
}
