.button {
  margin-left: 0.2em;
  border-radius: 5px;
  padding: 0.25em 0.5em;
}

.menu {
  position: absolute;
  right: 2vw;
  border-radius: 0.5em;
  border: 0.25em solid grey;
  padding: 0.5em;
  margin: 0.5em;
  background: white;
  text-align: left;
}

.menu-row a {
  display: block;
  text-decoration: none;
  color: black;
  padding-left: 0.2em;
}

.menu-row {
  border-radius: 0.5em;
  margin: 0.15em;
  padding-left: 0.25em;
}

.menu-row:hover {
  background: lightgray;
}

.menu-header {
  padding: 0 0.25em;
  color: grey;
  border-bottom: 1px grey solid;
}
