.foodTracker {
  text-align: left;
}

.timer {
  text-align: right;
}

.timerChallenge {
  text-align: center;
}

.middle {
  display: grid;
  grid-template-columns: auto min-content auto;
  align-items: center;
  justify-self: center;
}

.challengeMiddle {
  display: grid;
  grid-template-columns: auto min-content auto min-content auto;
  align-items: center;
  justify-self: center;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
}

.alignRight {
  text-align: right;
}

.challengeName {
  text-align: right;
  font-family: "Courier Prime Bold";
}

.challengeMiddle h3 {
  margin: 0;
  font-size: 1.9vw;
}

.active {
  color: green;
}

.verticalLine {
  border-right: .2em solid black;
  height: 75%;
}

.vertLineContainer {
  display: grid;
  height: 100%;
  grid-template-columns: .5em .2em .5em;
  align-items: center;
}

.justifyRight {
  justify-self: flex-end;
}