.listElement {
  margin: 0.5em 0em;
  padding: 1em;
  border: 2px solid black;
  border-radius: 1em;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.active {
  background-color: darkgreen;
}

.inactive {
  background-color: red;
}

.activeBadge span {
  padding: 0.2em 0.4em;
  color: white;
  border-radius: 0.5em;
}

.newConfigButton {
  background-color: #ccd1d1;
  float: right;
  padding: 0.2em;
  border-radius: 0.3em;
  color: black !important;
  text-decoration: none;
}

.newConfigButton:hover {
  cursor: pointer;
  background-color: #b2babb;
}
