.container {
  width: 25em;
  margin: 5em auto 1em auto;
  padding: 0.5em;
}

.title {
  display: block;
  text-align: center;
}

.submitButton {
  float: left;
  background-color: lightgreen;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5em;
  padding: 0.5em;
  margin: 0.25em 0.5em 0.25em 0;
}

.skipButton {
  float: right;
  background-color: lightgray;
  margin: 0.25em 0.5em 0.25em 0;
}

.buttonBar {
  display: grid;
  grid-template-columns: auto 60%;
  column-gap: 2.5rem;
  width: 100%;
  margin-top: 1em;
}

.registerLink {
  padding-top: 1.5em;
  text-align: center;
}

.bold {
  font-family: "Courier Prime Bold";
}

.error {
  background-color: red;
  text-align: center;
  color: white;
  margin: 0.5em 0.6em;
  padding: 0.5em;
}

.disabledMessage {
  text-align: center;
}

.errorMessage {
  color: red;
  font-size: 0.9em;
  margin-top: 0.5em;
}

.inputField {
  margin: 1em 0;
}

.inputField input {
  width: 100%;
}

.rememberCheckBox {
  display: flex;
  align-items: center;
}

.rememberCheckBox input {
  margin-right: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
}
