.container {
  margin: 0 0.5em;
}

.userRow {
  margin: 0.5em 0;
  padding: 0.5em;
  display: grid;
  grid-template-columns: 10rem 20rem auto;
  border: 2px solid black;
  border-radius: 1em;
}

.banned {
  background-color: #f1948a;
}

.header {
  display: grid;
  grid-template-columns: 50% 50%;
}

.selectContainer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-bottom: 0.5rem;
}

.titleRow {
  padding: 0 0.5em;
  font-weight: bold;
  display: grid;
  grid-template-columns: 10rem 20rem auto;
}
