.container {
  width: 60em;
  max-width: 80%;
  margin: 0 auto;
}

.title {
  margin-top: 2em;
  background-color: black;
  padding: 1em;
  border-radius: 1.5em;
  padding-top: 50.42%;
  position: relative;
}

.titleInner {
  position: absolute;
  top: 1em;
  left: 1em;
  padding-bottom: 100%;
}

.titleImage {
  width: 98.5%;
}

.links {
  margin: 2em auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 1em;
}

.link {
  height: 5rem;
  background-color: #40260f;
  color: white;
  display: block;
  border-radius: 2.5em;
  font-family: "Courier Prime Bold";
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.link:hover {
  text-decoration: none;
  color: black;
  background-color: #673d18;
}

.sandboxLink {
  font-size: 0.9em;
}

.subtext {
  font-size: 0.8em;
  font-family: "Courier Prime";
}
