body {
  background-color: #ebf5fb;
}

.container {
  width: 85rem;
  max-width: 80%;
  margin: 5em auto;
}

.header {
  text-align: center;
  margin-bottom: 2rem;
}

.smallText {
  font-size: 0.75rem;
}

.challengeGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.challengeGridElement {
  border-radius: 1rem;
  border: 0.2rem black solid;
  padding: 1rem;
  margin: 1rem;
  display: inline-grid;
  grid-template-rows: 6.5em auto;
  background-color: lightgray;
  width: 26rem;
}

.topBar {
  display: grid;
  grid-template-columns: 15rem 8.3rem;
}

.challengeButtons {
  display: grid;
  grid-template-rows: 55% 40%;
}

.challengeButtons a {
  width: 100%;
}

.challengeName {
  font-family: "Courier Prime Bold";
  display: flex;
  align-items: center;
}

.challengeInfo {
  display: grid;
  grid-template-columns: 10em auto;
}

.challengeLink {
  color: black;
  font-family: "Courier Prime Bold";
  margin: 0.2rem;
  padding: 0.5rem;
  border: 2px solid black;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 7.5rem;
}

.challengeWR {
  font-family: "Courier Prime Bold";
}

.challengeLink:hover {
  color: black;
  background-color: grey;
}

.thumbnail {
  width: 23.6rem;
  height: 14.13rem;
}

.thumbnail img {
  width: 23.6rem;
  height: 14.13rem;
}

.thumbnailContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumbnailContainer img {
  border-radius: 0.5rem;
  background-color: #909497;
}

.thumbnailLoader {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thumbnailLoader img {
  width: 32px;
  height: 32px;
  background-color: transparent;
}
