body {
  background-color: #ebf5fb;
}

.container {
  width: 85em;
  max-width: 80%;
  margin: 5em auto;
}

.header {
  text-align: center;
  margin-bottom: 2em;
}

.smallText {
  font-size: 0.75em;
}

.challengeGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.challengeGridElement {
  border-radius: 1em;
  border: 3px black solid;
  padding: 1em;
  margin: 1em;
  display: inline-grid;
  grid-template-rows: 6.5em auto;
  background-color: lightgray;
  max-width: 26em;
}

.topBar {
  display: grid;
  grid-template-columns: 15em auto;
}

.challengeButtons {
  display: grid;
  grid-template-rows: 55% 40%;
}

.challengeName {
  font-family: "Courier Prime Bold";
  display: flex;
  align-items: center;
}

.challengeInfo {
  display: grid;
  grid-template-columns: 10em auto;
}

.challengeLink {
  color: black;
  font-family: "Courier Prime Bold";
  margin: 0.2em;
  padding: 0.5em;
  border: 2px solid black;
  border-radius: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.challengeWR {
  font-family: "Courier Prime Bold";
}

.challengeLink:hover {
  color: black;
  background-color: grey;
}

.thumbnail {
  margin: auto;
}

.thumbnail img {
  border-radius: 0.5em;
  width: 100%;
  background-color: #909497;
}

.thumbnailLoader img {
  width: 32px;
  background-color: transparent;
}
