body {
  background-color: #ebf5fb;
}

.container {
  width: 85rem;
  width: 80%;
  margin: 0 auto;
  padding-top: 3em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.header {
  text-align: center;
  margin-bottom: 1rem;
}

.smallText {
  font-size: 0.75rem;
}

.dailyChallengeBox {
  width: 35rem;
  border-radius: 1rem;
  border: 0.2rem black solid;
  padding: 1rem;
  margin: 1rem auto;
  background-color: lightgray;
  display: grid;
  grid-template-columns: auto 17em;
  grid-template-rows: 1.75em auto;
}

@media screen and (max-width: 730px) {
  .dailyChallengeBox {
    width: 26rem;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }
}

.dailyLinks {
  display: grid;
  grid-template-columns: 50% auto;
}

.dailyTitle {
  grid-column: span 2;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.challengeGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.challengeGridElement {
  border-radius: 1rem;
  border: 0.2rem black solid;
  padding: 1rem;
  margin: 1rem;
  display: inline-grid;
  grid-template-rows: 6.5em auto;
  background-color: lightgray;
  width: 26rem;
}

.topBar {
  display: grid;
  grid-template-columns: 15rem 8.3rem;
}

.challengeButtons {
  display: grid;
  grid-template-rows: 55% 40%;
}

.challengeButtons a {
  width: 100%;
}

.challengeName {
  font-family: "Courier Prime Bold";
  display: flex;
  align-items: center;
}

.challengeInfo {
  display: grid;
  grid-template-columns: 10em auto;
}

.challengeLink {
  background-color: lightgray;
  color: black;
  font-family: "Courier Prime Bold";
  margin: 0.2rem;
  padding: 0.5rem;
  border: 2px solid black;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.challengeWR {
  font-family: "Courier Prime Bold";
}

.challengeLink:hover {
  color: black;
  background-color: grey;
}

.thumbnail {
  width: 23.6rem;
  height: 14.13rem;
}

.thumbnail img {
  width: 23.6rem;
  height: 14.13rem;
}

.thumbnailContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumbnailContainer img {
  border-radius: 0.5rem;
  background-color: #909497;
}

.thumbnailLoader {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thumbnailLoader img {
  width: 32px;
  height: 32px;
  background-color: transparent;
}

.age {
  margin-left: 0.1rem;
}

.bigLink {
  grid-column: 1/3;
}
