.body {
  text-align: center;
}

.score {
  border-bottom: 2px solid black;
  margin: 0.5em 35%;
  font-family: "Courier Prime Bold";
}

.newPB {
  font-family: "Courier Prime Bold";
}

.newWR {
  font-family: "Courier Prime Bold";
  color: green;
}

.runInfo {
  margin-bottom: 2em;
}

.playerCount {
  font-size: 0.75em;
}

.leaderboardRank {
  font-size: 1.1em;
}

.ad {
  margin-top: 1.5em;
}

.ad p {
  margin-bottom: 0em;
  font-size: 0.75em;
}
